--extra-index-url https://download.pytorch.org/whl/cu128
numpy==1.26.4
torch==2.7.0
torchvision==0.22.0
torchio==0.20.5
opencv-python-headless==4.11.0.86
jaxtyping==0.3.0
monai==1.4.0
tensordict==0.7.2
torchrl==0.7.2
beartype==0.20.2
pyyaml==6.0.2
cucim==23.10.0
cupy-cuda12x==13.4.1
